.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #f5d8ad;
  border: solid 10px rgb(243, 243, 243);
  overflow: hidden;
}

.about__path {
  display: none;
}

@media (max-width: 1000px) {
  .app {
    flex-direction: column;
  }
}
