.contact__container {
  flex: 1;
  width: 100%;
  padding-bottom: 3%;
  padding: 3vw;
  display: none;
  height: 85%;
}

.contact__container.active {
  display: flex;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
  overflow: hidden;
}

.contact__title {
  font-size: 30px;
}
.contact__area {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.contact__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.625rem;
  width: 100%;
}

.contact__input {
  color: var(--text-normal);
  background-color: var(--text-stylish);
  font-size: 500;
}
.contact__box .contact__label {
  font-size: 18px;
  text-transform: uppercase;
}
.contact__box > input {
  font-family: Arial;
  border-radius: 0.5rem;
  padding: 0.625rem;
  margin-bottom: 1.625rem;
  border: none;
  outline: none;
  width: 100%;
  opacity: 0.9;
  background-color: transparent;
  border: solid 2px var(--text-stylish);
  font-size: large;
}

.contact__box > textarea {
  font-family: Arial;
  border-radius: 0.5rem;
  padding: 0.625rem;
  margin-bottom: 1.625rem;
  border: none;
  outline: none;
  width: 100%;
  height: clamp(100px, 20vh, 300px);
  resize: none;
  opacity: 0.9;
  background-color: transparent;
  border: solid 2px var(--text-stylish);
  font-size: large;
}

.contact__box > input:focus,
textarea:focus {
  text-decoration: none;
}

.submitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 50px;
  height: 50px;
  color: var(--text);
  background: var(--text-normal);
  border: none;
  border-radius: 50%;
  outline: none;
  color: var(--bg-normal);
  transition: all 500ms ease-in-out;
  position: relative;
}

.submitButton:hover {
  cursor: pointer;
  color: var(--text-stylish);
  background-color: rgb(59, 59, 59);
}

.contact__label {
  font-family: Arial;
  font-size: x-small;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-left: 10px;
  margin-bottom: 5px;
  color: var(--text-normal);
}

.submitButtonConfirmed {
  display: none;
  justify-content: center;
  align-items: center;
  left: 60px;
  position: absolute;
  width: 100px;
  color: var(--text-stylish);
}

.submitButtonConfirmed.active {
  display: flex;
}
.app__footer {
  display: flex;
  justify-content: center;
}
.mobile-only {
  display: none;
}
@media (max-width: 1024px) {
  .contact__container {
    display: flex;
    flex-direction: column;
    padding: 6vw;
  }
  .contact {
    flex: none;
    flex-direction: column;
    margin-bottom: 30px;

  }

  .contact__box {
    height: 100%;
  }
  .contact__box > input {
    margin-bottom: 1.1rem;
  }

  .contact__box .contact__label {
    font-size: 14px;
  }
  .mobile-only {
    display: flex;
  }
}
