a {
  transition: all 200ms ease-in-out;
  border-bottom: solid 1px transparent;
}

.header {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* padding: 3%; */
  padding-bottom: 2vw;
  background-color: var(--bg-normal);
  /* background-color: green; */
  padding: 4vw 6vw;
}

.header__intro {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.header__name {
  margin-bottom: 6px;
}
.header__title {
  margin-left: 5px;
}
.header__description {
  margin: 10px 0;
  margin-left: 5px;
}

.header__icon {
  display: none;
  width: 40px;
  height: 40px;
}
.header__menu {
  display: none;
  width: 40px;
  height: 40px;
  fill: var(--text-normal);
}

.nav {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  min-width: fit-content;
  font-size: 20px;
  font-weight: 500;
  font-family: var(--font-normal);
}
.nav__item {
  padding-bottom: 30px;
  position: relative;
  width: fit-content;
  transition: transform 500ms ease-in-out;
}
.nav__item:not(.active):hover {
  /* color: var(--text-stylish); */
  color: var(--text-stylish);
  transform: translateX(10px);
}

.nav__item.active {
  color: var(--text-stylish);
}
.quotecard {
  margin: 15px;
}

.quotecard__image {
  border-radius: 50%;
}
.footer {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: flex-end;
}
.footer__item > a > .footer__icon {
  opacity: 75%;
  transition: transform 500ms ease-in-out;
}
.footer__item:not(:last-child) {
  margin-right: 20px;
}

.footer__item:hover > a > .footer__icon {
  opacity: 100%;
  color: var(--text-stylish);
  transform: translateY(-10px);
}

@media (max-width: 1024px) {
  .header {
    flex: none;
    /* justify-content: space-between; */
    /* justify-content: center; */
    justify-content: flex-start;
    /* test */
    align-items: flex-start;
    width: 100%;
    /* position: relative; */
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
  }
  .header__intro {
    /* padding: 10px 0; */
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
  }
  .header__name {
    display: none;
    margin-bottom: 2px;
    line-height: 1;
  }
  .header__title {
    display: none;
  }

  .header__icon {
    flex-direction: row;
    display: flex;
  }

  .header__menu {
    display: block;
    cursor: pointer;
  }
  .nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 300px;
    z-index: 1000;
    display: none;
  }

  .nav.open {
    display: flex;
  }

  .footer {
    display: none;
  }
}
