.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: rgb(253, 170, 131);
}

.projects__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  font-family: var(--font-stylish);
  font-weight: 500;
  padding: 10px;
  font-size: 2rem;
  font-style: bold;
  color: rgb(255, 255, 255);
  text-align: center;
}

.projects__card {
  max-width: 350px;
  max-height: 350px;
  width: auto;
  height: auto;
  border-radius: 10px;
  text-align: center;
}

.projects__title > h1 {
  text-align: end;
}

.projects__description > a {
  white-space: nowrap;
  font-size: 2.5rem;
  font-family: var(--font-stylish);
}

.projects__overview {
  font-family: var(--font-normal);
  color: rgb(255, 255, 255);
  font-size: medium;
  padding: 0 0 15px 0;
}

@media (max-width: 1000px) {
  .projects {
    flex: none;
    height: 100%;
  }

  .projects__description {
    padding: 0;
  }
  .projects__description > a {
    font-size: 100%;
  }
  .projects__description > span {
    font-size: 50%;
  }
}

@media (max-width: 800px) {
  .projects__description > a {
    font-size: 80%;
  }
}
